<div class="footer">
  <span class="block"> <a href="http://github.com/sirkapil" title="">&lt;/&gt;</a> available on   <a href="http://github.com/sirkapil">
Github</a>

{% if site.lightbox == true %}

<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>

{% endif %}

<script type="text/javascript"> var vglnk = { key: 'f7934583aefe05670f5985fddb16baaa' }; (function(d, t) { var s = d.createElement(t); s.type = 'text/javascript'; s.async = true; s.src = '//cdn.viglink.com/api/vglnk.js'; var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r); }(document, 'script')); 
</script>
</span>
  <span class="block"><i class="fa fa-link" aria-hidden="true"></i> outbound by <a href="https://www.viglink.com/?vgref=3761548" target="_blank">VigiLink</a></span>
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
</div>
  
