<div class="footer">
  <span class="block"> <a href="http://github.com/sirkapil" title="">&lt;/&gt;</a> available on   <a href="http://github.com/sirkapil">
Github</a>

{% if site.lightbox == true %}

<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>

{% endif %}
</span>
  <span class="block"><i class="fa fa-link" aria-hidden="true"></i> outbound by <a href="https://www.viglink.com/?vgref=3761548" target="_blank">VigiLink</a></span>
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
  <span><a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/kapil.netlify.com"><img src="https://seal.beyondsecurity.com/verification-images/kapil.netlify.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a></span>
  
</div>
  
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
